# don't check data into git
data
.snakemake
*.swp
snakejob.*
.vscode/
**/incomming/
**/outgoing/
**/data/
.snakemake/

.ipynb_checkpoints
**/.ipynb_checkpoints/
__pycache__
**/__pycache__/
*.log
*.plk
*.gtf
*.pyc
*.fasta
*.fa
*.fastq
*.fq
*.fast[aq]
*.fasta.gz
*.fa.gz
*.fastq.gz
*.fq.gz
*.fasta.fai
*.pfa.gz
*.pfa
*.gz
*.txt
*.sam
*.bam 
*.bam.bai
*.bed 
*.[tc]sv
*.vcf
*.vcf.gz
*.vcf.*
*.hdf
*.[pm]af
*.png
*.aln
*.dot
*.svg
*.html
**/**/__pycache__
**/.ipynb_checkpoints/*
.DS_Store
.nextflow.log*
.nextflow/
STDIN.*
**/STDIN.*